.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.star {
  font-size: 2rem;
  color: gray;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}

.rating.readonly {
  pointer-events: none;
}

.rating .star:hover,
.rating .star:hover ~ .star {
  color: gold;
}

.rating .star:hover ~ .star {
  color: gray;
}
@media (min-width: 0px) and (max-width: 1250px) {
  .star{
    font-size: 1.2rem;
  }

}